* {
	background-color: black;
}

.header {
	display: flex;
	position: fixed;
	z-index: 5;
	height: 69px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid seashell;
	margin: 0;

}

#logo img {
	display: flex;
	position: relative;
	height: 50px;
	padding-left: 10px;
	color: seashell;
	opacity: 0.9;

}

span a {
	color: seashell;
	opacity: 0.9;
}

.headernav {
	display: flex;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	padding-right: 20px;
	width: 400px;
	justify-content: space-around;
}

.container {
	width: 1200px;
	height: 700px;
	display: flex;
	position: relative;
	background-image: url("../images/img-mission-background.jpg");
	top: 69px;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;

}

.mission, .description {
	display: flex;
	background-color: black;
	justify-content: center;
	font-family: Helvetica;
	color: seashell;
	opacity: 0.9;
	align-content: flex-end;
}

.second-container {
	display: flex;
	position: relative;
	top: 100px;
}

.month {
	display: flex;
	position: relative;
	top: 100px;
	justify-content: center;
	color: seashell;
	font-family: Helvetica;
	flex-direction: column;
	width: 1000px;
	margin: 0 auto;
}

.teamonth, .steeping {
	display: flex;
	justify-content: center;
	color: seashell;
	opacity: 0.9;
	font-family: Helvetica;
	flex-direction: column;
	align-items: center;
}

.small-img {
	width: 300px;
	height: 200px;
}

.image-container {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: center;
}

.image-box {
	padding: 10px;
}

.footer-container {
	display: flex;
	position: relative;
	align-items: center;
	top: 100px;
	color: seashell;
	background-image: url("../images/img-locations-background.jpg");
	width: 1200px;
	height: 500px;
	justify-content: center;
	font-family: Helvetica;
	color: seashell;
	opacity: 0.9;
}

.headings {
	font: bold;
}

h4 {
	text-align: center;
}

.locations {
	width: 300px;
	height: 300px;
}